---
- name: Get info about the searchengine container
  community.docker.docker_container_info:
    name: searchengine_elasticsearch_node1
  register: container_info_elasticsearch_node1

- name: omero searchengine | Check if IP is in use
  ansible.builtin.set_fact:
    ip_taken: "10.11.0.2 network_info.networks[0].containers.values() | map(attribute='ipv4_address') | list }}"

- name: omero searchengine | Add elastic nodes to instances_nodes
  ansible.builtin.set_fact:
    instances_nodes: "{{instances_nodes + [( {'name' : 'searchengine_elasticsearch_node'+item, 'dns': ['searchengine_elasticsearch_node'+item,'localhost'],'ip': '127.0.0.1'})] }}"
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}

- name: omero searchengine | Add elastic nodes to instances
  ansible.builtin.set_fact:
    instances: "{{instances | combine ( {'instances' : instances_nodes}) }}"

- name: omero searchengine | Create docker network
  become: yes
  community.docker.docker_network:
    name: searchengine-net
    driver: bridge
    ipam_config:
      - subnet=10.11.0.0/16

# I got some memory exceptions when start using elasticsearch cluster and
# increasing the mmap counts limits fix this issue
#https://www.elastic.co/guide/en/elasticsearch/reference/7.16 /vm-max-map-count.html
- name: omero searchengine | set vm.max_map_count to 262144 in sysctl
  become: yes
  ansible.posix.sysctl: name={{ item.varname }} value={{ item.varvalue }}
  with_items:
    - { varname: "vm.max_map_count", varvalue: "262144" }

- name: omero searchengine | create CA
  become: yes
  community.docker.docker_container:
    image: "{{ search_engineelasticsearch_docker_image }}"
    name: "creat_ca_for_elasticsearch_cluster"
    cleanup: True
    auto_remove: yes
    command:  "bash -c '/usr/share/elasticsearch/bin/elasticsearch-certutil ca -s  -out /usr/share/elasticsearch/config/certificates/elastic-ca.p12 --pass {{ ca_password }}
       '"
        #fi;
    state: started
    volumes:
        - "{{ apps_folder }}/searchengine/elasticsearch/certs:/certs"
        - "{{ apps_folder }}/searchengine/elasticsearch/certs:/usr/share/elasticsearch/config/certificates"
  changed_when: false
  when: not container_info_elasticsearch_node1.exists

- name: omero searchengine | Wait for CA file
  ansible.builtin.wait_for:
    path: "{{ apps_folder }}/searchengine/elasticsearch/certs/elastic-ca.p12"
    state: present
  register: check_ca_file_result
  when: not container_info_elasticsearch_node1.exists

- name: omero searchengine | Show wait CA file result
  debug:
    var: check_ca_file_result
  when: not container_info_elasticsearch_node1.exists

- copy:
      dest: /tmp/instances.yaml
      content: |
        {{ instances   |to_nice_yaml }}
  when: not container_info_elasticsearch_node1.exists

- name: omero searchengine | Create nodes' cert
  become: yes
  community.docker.docker_container:
    image: "{{ search_engineelasticsearch_docker_image }}"
    name: "creat_ca_for_elasticsearch_cluster"
    cleanup: True
    auto_remove: yes
    command:  "bash -c 'bin/elasticsearch-certutil cert --ca /usr/share/elasticsearch/config/certificates/elastic-ca.p12 --ca-pass {{ ca_password }}  --pass {{ keystore_password }}  --in /tmp/instances.yaml -out /usr/share/elasticsearch/config/certificates/bundle.zip;
    echo 'done';
    unzip /usr/share/elasticsearch/config/certificates/bundle.zip -d /usr/share/elasticsearch/config/certificates/;
       '"
    state: started
    volumes:
        - "{{ apps_folder }}/searchengine/elasticsearch/certs:/certs"
        - "{{ apps_folder }}/searchengine/elasticsearch/certs:/usr/share/elasticsearch/config/certificates"
        - /tmp/instances.yaml:/tmp/instances.yaml
  changed_when: false
  when: not container_info_elasticsearch_node1.exists

- name: omero searchengine | Get Docker network info
  community.docker.docker_network_info:
    name: searchengine-net
  register: network_info

- debug:
    msg: "this the value: {{ ip_taken }} "

- name: omero searchengine | Run first docker elasticsearch main node
  become: yes
  community.docker.docker_container:
    image: "{{ search_engineelasticsearch_docker_image }}"
    name: "searchengine_elasticsearch_node1"
    cleanup: True
    ulimits:
      - 'memlock:-1:-1'
    env:
      path.data: "/var/lib/elasticsearch"
      path.logs: "/var/log/elasticsearch"
      path.repo: "{{ elasticsearch_backup_folder }}"
      node.name: searchengine_elasticsearch_node1
      bootstrap.memory_lock: "true"
      network.host: 0.0.0.0
      cluster.name: "searchengine-cluster"
      cluster.initial_master_nodes: "{{ elasticsearch_nodes | join(',') }}"
      http.host: 0.0.0.0
      #http.port: 9200
      #ES_JAVA_OPTS: "{{ ES_JAVA_OPTIONS }}"
      #this one should be added when the cluster is only one node
      # discovery.type: single-node
      ES_JAVA_OPTS: " {{ es_java_options }}"
      ingest.geoip.downloader.enabled: "false"
      ########################################
      es_api_basic_auth_username: "elastic"
      ELASTIC_PASSWORD: "{{ elastic_password }}"
      es_validate_certs: "no"
      es_enable_http_ssl: "true"
      xpack.security.http.ssl.enabled: "true"
      xpack.security.enabled: "true"
      xpack.security.authc.realms.file.file1.order: "0"
      xpack.security.authc.realms.native.native1.order: "1"
      xpack.security.http.ssl.keystore.path: "/usr/share/elasticsearch/config/certificates/elastic-ca.p12"
      xpack.security.http.ssl.truststore.password: "{{ ca_password }}"
      xpack.security.http.ssl.keystore.password: "{{ ca_password }}"
      xpack.security.transport.ssl.enabled: "true"
      xpack.security.transport.ssl.verification_mode: "certificate"
      xpack.security.transport.ssl.keystore.path: "/usr/share/elasticsearch/config/certificates/searchengine_elasticsearch_node1/searchengine_elasticsearch_node1.p12"
      xpack.security.transport.ssl.truststore.path: "/usr/share/elasticsearch/config/certificates/searchengine_elasticsearch_node1/searchengine_elasticsearch_node1.p12"
      xpack.security.transport.ssl.keystore.password: "{{ keystore_password }}"
      xpack.security.transport.ssl.truststore.password: "{{ keystore_password }}"
      cluster.routing.allocation.disk.watermark.low: "90%"
      cluster.routing.allocation.disk.watermark.high: "95%"
      cluster.routing.allocation.disk.watermark.flood_stage: "98%"
    #########################################################################
    networks:
    - name: "searchengine-net"
      ipv4_address: 10.11.0.2
    published_ports:
      - "9201:9200"
      - "9301:9300"
    state: started
    restart_policy: always
    volumes:
    - "{{ apps_folder }}/searchengine/elasticsearch/node1/data:/var/lib/elasticsearch"
    - "{{ apps_folder }}/searchengine/elasticsearch/node1/logs:/var/log/elasticsearch"
    - "{{ apps_folder }}/searchengine/elasticsearch/certs:/usr/share/elasticsearch/config/certificates"
    - "{{ elasticsearch_backup_folder }}:{{ elasticsearch_backup_folder }}"
  when: not container_info_elasticsearch_node1.exists and  elasticsearch_no_nodes >1


- name: omero searchengine | Run first docker elasticsearch main node (One node Elastic search cluster)
  become: yes
  community.docker.docker_container:
    image: "{{ search_engineelasticsearch_docker_image }}"
    name: "searchengine_elasticsearch_node1"
    cleanup: True
    ulimits:
      'memlock:-1:-1'
    env:
      path.data: "/var/lib/elasticsearch"
      path.logs: "/var/log/elasticsearch"
      path.repo: "{{ elasticsearch_backup_folder }}"
      node.name: searchengine_elasticsearch_node1
      bootstrap.memory_lock: "true"
      network.host: 0.0.0.0
      cluster.name: "searchengine-cluster"
      # cluster.initial_master_nodes: "{{ elasticsearch_nodes | join(',') }}"
      http.host: 0.0.0.0
      #http.port: 9200
      #ES_JAVA_OPTS: "{{ ES_JAVA_OPTIONS }}"
      #this one should be added when the cluster is only one node
      discovery.type: single-node
      ES_JAVA_OPTS: " {{ es_java_options }}"
      ingest.geoip.downloader.enabled: "false"
      ########################################
      es_api_basic_auth_username: "elastic"
      ELASTIC_PASSWORD: "{{ elastic_password }}"
      es_validate_certs: "no"
      es_enable_http_ssl: "true"
      xpack.security.http.ssl.enabled: "true"
      xpack.security.enabled: "true"
      xpack.security.authc.realms.file.file1.order: "0"
      xpack.security.authc.realms.native.native1.order: "1"
      xpack.security.http.ssl.keystore.path: "/usr/share/elasticsearch/config/certificates/elastic-ca.p12"
      xpack.security.http.ssl.truststore.password: "{{ ca_password }}"
      xpack.security.http.ssl.keystore.password: "{{ ca_password }}"
      xpack.security.transport.ssl.enabled: "true"
      xpack.security.transport.ssl.verification_mode: "certificate"
      xpack.security.transport.ssl.keystore.path: "/usr/share/elasticsearch/config/certificates/searchengine_elasticsearch_node1/searchengine_elasticsearch_node1.p12"
      xpack.security.transport.ssl.truststore.path: "/usr/share/elasticsearch/config/certificates/searchengine_elasticsearch_node1/searchengine_elasticsearch_node1.p12"
      xpack.security.transport.ssl.keystore.password: "{{ keystore_password }}"
      xpack.security.transport.ssl.truststore.password: "{{ keystore_password }}"
      cluster.routing.allocation.disk.watermark.low: "90%"
      cluster.routing.allocation.disk.watermark.high: "95%"
      cluster.routing.allocation.disk.watermark.flood_stage: "98%"
    #########################################################################
    networks:
    - name: "searchengine-net"
      ipv4_address: 10.11.0.2
    published_ports:
      - "9201:9200"
      - "9301:9300"
    state: started
    restart_policy: always
    volumes:
    - "{{ apps_folder }}/searchengine/elasticsearch/node1/data:/var/lib/elasticsearch"
    - "{{ apps_folder }}/searchengine/elasticsearch/node1/logs:/var/log/elasticsearch"
    - "{{ apps_folder }}/searchengine/elasticsearch/certs:/usr/share/elasticsearch/config/certificates"
    - "{{ elasticsearch_backup_folder }}:{{ elasticsearch_backup_folder }}"
  when: not container_info_elasticsearch_node1.exists and elasticsearch_no_nodes == 1


- name: omero searchengine | check elasticsearch node
  community.docker.docker_container_info:
    name: searchengine_elasticsearch_node1
  register: node1_log
  when: not container_info_elasticsearch_node1.exists


- name: display elasticsearch logs
  ansible.builtin.debug:
    var: node1_log
  when: not container_info_elasticsearch_node1.exists

- name: omero searchengine | Run docker elasticsearch for the remaining nodes
  become: yes
  community.docker.docker_container:
    image: "{{ search_engineelasticsearch_docker_image }}"
    name: "searchengine_elasticsearch_node{{ item }}"
    ulimits:
      - 'memlock:-1:-1'
    cleanup: True
    env:
      path.data: "/var/lib/elasticsearch"
      path.logs: "/var/log/elasticsearch"
      path.repo: "{{ elasticsearch_backup_folder }}"
      node.name: "searchengine_elasticsearch_node{{ item }}"
      bootstrap.memory_lock: "true"
      network.host: 0.0.0.0
      cluster.name: "searchengine-cluster"
      discovery.seed_hosts: "searchengine_elasticsearch_node1"
      cluster.initial_master_nodes: "{{ elasticsearch_nodes | join(',') }}"
      http.host: 0.0.0.0
      #http.port: 9200
      #ES_JAVA_OPTS: "-Xms1g -Xmx1g"
      ES_JAVA_OPTS: " {{ es_java_options }}"
      ingest.geoip.downloader.enabled: "false"
      ####################################################################
      es_api_basic_auth_username: "elastic"
      ELASTIC_PASSWORD: "{{ elastic_password }}"
      es_validate_certs: "no"
      es_enable_http_ssl: "true"
      xpack.security.http.ssl.enabled: "true"
      xpack.security.enabled: "true"
      xpack.security.authc.realms.file.file1.order: "0"
      xpack.security.authc.realms.native.native1.order: "1"
      xpack.security.http.ssl.keystore.path: "/usr/share/elasticsearch/config/certificates/elastic-ca.p12"
      xpack.security.http.ssl.truststore.password: "{{ ca_password }}"
      xpack.security.http.ssl.keystore.password: "{{ ca_password }}"
      xpack.security.transport.ssl.enabled: "true"
      xpack.security.transport.ssl.verification_mode: "certificate"
      xpack.security.transport.ssl.keystore.path: "/usr/share/elasticsearch/config/certificates/searchengine_elasticsearch_node{{ item }}/searchengine_elasticsearch_node{{ item }}.p12"
      xpack.security.transport.ssl.truststore.path: "/usr/share/elasticsearch/config/certificates/searchengine_elasticsearch_node{{ item }}/searchengine_elasticsearch_node{{ item }}.p12"
      xpack.security.transport.ssl.keystore.password: "{{ keystore_password }}"
      xpack.security.transport.ssl.truststore.password: "{{ keystore_password }}"
      cluster.routing.allocation.disk.watermark.low: "90%"
      cluster.routing.allocation.disk.watermark.high: "95%"
      cluster.routing.allocation.disk.watermark.flood_stage: "98%"
      ####################################################################

    networks:
    - name: "searchengine-net"
      ipv4_address: 10.11.0.{{ item | int + 1 }}
    published_ports:
      - "920{{ item }}:9200"
      - "930{{ item }}:9300"
    state: started
    restart_policy: always
    volumes:
    - "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}/data:/var/lib/elasticsearch"
    - "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}/logs:/var/log/elasticsearch"
    - "{{ elasticsearch_backup_folder }}:{{ elasticsearch_backup_folder }}"
    - "{{ apps_folder }}/searchengine/elasticsearch/certs:/usr/share/elasticsearch/config/certificates"
  with_sequence: start=2 count={{ elasticsearch_no_nodes | int -1 }}
  when: not container_info_elasticsearch_node1.exists