---

#Add all elasticsearch nodes
- name: omero searchengine | Add elastic nodes to elasticsearch_nodes
  ansible.builtin.set_fact:
    elasticsearch_nodes: '{{ elasticsearch_nodes + ["searchengine_elasticsearch_node"+item] }}'
    cacheable: yes
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}

#Add all elasticsearch nodes
- name: omero searchengine | Add elastic nodes to elasticsearch_nodes_urls
  ansible.builtin.set_fact:
    elasticsearch_nodes_urls: '{{ elasticsearch_nodes_urls + ["https://10.11.0."+item+":9200"] }}'
    cacheable: yes
  with_sequence: start=2 count={{ elasticsearch_no_nodes }}

- name:  omero searchengine | Ensure sysctl is present
  ansible.builtin.package:
    name: procps-ng
    state: present
  become: true

- name: omero searchengine | update curl and ca certificates
  ansible.builtin.dnf:
    name:
      - curl
      - ca-certificates
      # - requests
    state: latest
    allowerasing: true
  become: true

- name: omero searchengine | Ensure python3-requests is installed
  ansible.builtin.package:
    name: python3-requests
    state: present
  become: yes

- name:  omero searchengine | Import ome.docker role
  ansible.builtin.import_role:
    name: ome.docker

- name: omero searchengine | Get Docker information
  community.docker.docker_host_info:
    containers: true
    containers_all: true
  register: searchengine_docker_info

- name: omero searchengine | Get list of container names
  set_fact:
    searchengine_container_names: >-
      {{
        searchengine_docker_info.containers
        | map(attribute='Names')
        | flatten
        | map('regex_replace', '^/', '')
        | list
      }}
    cacheable: yes

- name: omero searchengine | Stop and delete running containers
  community.docker.docker_container:
    name: "{{ item }}"
    state: absent  #stopped
  loop: "{{ searchengine_container_names }}"
  when:
    - item in elasticsearch_nodes or item in search_container_names
    - not molecule_yml is defined

- name: omero searchengine |  remove app directory
  become: yes
  ansible.builtin.file:
   path: "{{ apps_folder }}/searchengine"
   state: absent
  when: prune_app_folder

- name: omero searchengine | Check if a elastic node data folder exists
  ansible.builtin.stat:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node1/data"
  register: elastic_node_data_folder

- name: omero searchengine | Create app top level directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine"
    recurse: yes
    state: directory
    owner: 1000
    group: root
    mode: 0755
  changed_when: false

- name: omero searchengine | Create elasticsearch directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  changed_when: false

- name: omero searchengine | Create elasticsearch certs folder
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/certs"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  changed_when: false


- name: omero searchengine | Create elasticsearch main nodes directories
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}
  changed_when: false


- name: omero searchengine | Create elasticsearch logs directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}/logs"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}
  changed_when: false


- name: omero searchengine | Create elasticsearch data directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}/data"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}
  when: not elastic_node_data_folder.stat.exists or force_update

- name: omero searchengine | deploy elasticsearch cluster
  ansible.builtin.include_tasks: elasticsearch.yml

- name: omero searchengine | deploy nginx for the search engine
  ansible.builtin.import_tasks: nginx.yml
  when: not molecule_yml is defined

- name: omero searchengine | deploy redis
  ansible.builtin.import_tasks: redis.yml
  when: not molecule_yml is defined

- name: omero searchengine | deploy searchengine
  ansible.builtin.import_tasks: searchengine.yml
