---
## create the searchengine and elasticsearch folders


- name:  omero searchengine | Ensure sysctl is present
  ansible.builtin.package:
    name: procps-ng
    state: present
  become: true

- name: omero searchengine | update curl and ca certificates
  ansible.builtin.dnf:
    name:
      - curl
      - ca-certificates
      # - requests
    state: latest
    allowerasing: true
  become: true

- name: omero searchengine | Ensure python3-requests is installed
  ansible.builtin.package:
    name: python3-requests
    state: present
  become: yes

- name:  omero searchengine | Import ome.docker role
  ansible.builtin.import_role:
    name: ome.docker

- name: omero searchengine | Check if a elastic node data folder exists
  ansible.builtin.stat:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node1/data"
  register: elastic_node_data_folder

- name: omero searchengine | Create app top level directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine"
    recurse: yes
    state: directory
    owner: 1000
    group: root
    mode: 0755
  changed_when: false

- name: omero searchengine | Create elasticsearch directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  changed_when: false


- name: omero searchengine | Create elasticsearch certs folder
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/certs"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  changed_when: false


- name: omero searchengine | Create elasticsearch main nodes directories
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}
  changed_when: false


- name: omero searchengine | Create elasticsearch logs directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}/logs"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}
  changed_when: false


- name: omero searchengine | Create elasticsearch data directory
  become: yes
  ansible.builtin.file:
    path: "{{ apps_folder }}/searchengine/elasticsearch/node{{ item }}/data"
    state: directory
    # User id in elasticsearch Docker image
    owner: 1000
    group: root
    mode: 0755
  with_sequence: start=1 count={{ elasticsearch_no_nodes }}
  when: not elastic_node_data_folder.stat.exists or force_update

- name: omero searchengine | deploy elasticsearch cluster
  ansible.builtin.include_tasks: elasticsearch.yml
  when: not elastic_node_data_folder.stat.exists or force_update
  #tags: [always, elasticsearch]

- name: omero searchengine | deploy nginx for the search engine
  ansible.builtin.import_tasks: nginx.yml
  when: not test_mode

- name: omero searchengine | deploy redis
  ansible.builtin.import_tasks: redis.yml
  when: not test_mode and support_async

- name: omero searchengine | deploy searchengine
  ansible.builtin.import_tasks: searchengine.yml
  #tags: [always, search_engine]

