---
- name: Converge
  hosts: all
  tasks:

  - name: install redis
    ansible.builtin.dnf:
      name: redis
      state: present
    become: yes

  - name: diable redis sevice installed on the host
    ansible.builtin.systemd_service:
      name: redis
      state: stopped
      enabled: false
    become: yes

  roles:
  - role: ome.omero_searchengine
    ES_JAVA_OPTIONS: "-Xms512m -Xmx512m"

