---
- name: Converge
  hosts: all

  tasks:

  - name: install redis
    ansible.builtin.dnf:
      name: redis
      state: present
    become: yes

  - name: diable redis sevice installed on the host
    ansible.builtin.systemd_service:
      name: redis
      state: stopped
      enabled: false
    become: yes

    roles:
      #- role: ome.postgresql
      #  postgresql_version: "16"
      #  postgresql_databases:
      #    - name: database_name
      #      owner: database_user
      #  postgresql_users:
      #    - user: database_user
      #      password: database_password
      #      databases: [ database_name ]
      - role: ome.omero_searchengine
        ES_JAVA_OPTIONS: "-Xms128m -Xmx128m"