
server {
    listen {{ nginx_port }};

     location /{{ searchengineurlprefix }} {

        proxy_pass http://{{ ansible_default_ipv4.address }}:{{ searchengine_published_port }}/{{ searchengineurlprefix }};
        proxy_redirect http://{{ ansible_default_ipv4.address }}:{{ searchengine_published_port }}/{{ searchengineurlprefix }} $scheme://$server_name;
        proxy_set_header Host $host/{{ searchengineurlprefix }};
    }
    location /send_file/ {
    internal;
    alias {{ apps_folder }}/data_dump/;   # real file storage
}
}
